@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #37574A;
  --secondary: #b89e6b;
  --foreground: #484349;
  --background: #FFFFFC;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  background-color: var(--background);
  user-select: none;
}

main {
  overflow-x: hidden;
  padding-top: 111px;
  padding-bottom: 240px;
}

@media screen and (max-width: 1023px) {
  main {
    padding-bottom: 428px;
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 64px min(16vw, 256px);
}

h2 {
  position: relative;
  text-align: center;
  font-size: clamp(1.25rem, 0.8125rem + 2.5vw, 1.75rem);
  font-weight: 600;
  white-space: nowrap;
  color: var(--foreground);
  text-transform: uppercase;
}

h2::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 96px;
  height: 6px;
  background-color: var(--foreground);
}

h3 {
  font-size: clamp(1.25rem, 0.8125rem + 2.5vw, 1.75rem);
  font-weight: 500;
  text-transform: capitalize;
}
